@import 'scss/font-awesome';

//----- Font awsome -----

@mixin icon($icon) {
	@include icon-FontAwesome();
	content: $icon;
}

@mixin icon-FontAwesome() {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em; // fixes ie7 issues
}

@mixin transition($t) {
	-webkit-transition: $t;
	-moz-transition: $t;
	-o-transition: $t;
	transition: $t;
}

@mixin border_radius($size: 50%) {
	border-radius: $size;
	-moz-border-radius: $size;
	-webkit-border-radius: $size;
}

@mixin shadow($horisontal: 1px, $vertical: 1px, $blur: 5px, $spread: 0, $color: #333333) {
	-webkit-box-shadow: $horisontal $vertical $blur $spread $color;
	box-shadow: $horisontal $vertical $blur $spread $color;
}

$white: #ffffff;
$black: #000000;

// LAYOUT

/* Make it mobile

html,
body {
	background-color: black;
}

.middle {
	max-width: 640px !important;
	background-color: $white !important;
	
	margin: {
		left: auto;
		right: auto;
	}
	
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		clear: both;
		float: none;
	}
}


*/

.row {
	max-width: 76rem;
}

.homeImage {
	position: relative;
	margin-top: 0px;
	height: 750px;
	background-color: purple;
	
	background: url('img/bg.jpg') center center no-repeat;
	background-size: cover;
	color: $white;
	
	@include transition(height 0.333s ease);
	
	@media all and (max-height: 930px) {
		height: 650px;
	}
	
	@media all and (max-height: 830px) {
		height: 550px;
	}
	
	@media all and (orientation: landscape) and (max-height: 730px) {
		height: 450px;
	}
	
	@media all and (orientation: landscape) and (max-height: 630px) {
		height: 350px;
	}
	
	@media all and (orientation: landscape) and (max-height: 530px) {
		height: 250px;
	}
	
	@media all and (max-width: 530px) {
		height: 450px !important;
	}
	
	
	.search {
		position: absolute;
		bottom: 10%;
		left: 50%;
		margin-left: -400px;
		padding: 12px;
		max-width: 800px;
		width: 100%;
		background-color: rgba($black, 0.3333);
		@include border_radius(6px);
		
		* {
			margin-bottom: 0;
		}
		
		@media all and (max-width: 830px) {
			left: 0;
			margin-left: auto;
			max-width: none;
		}
	}
	
	.textContent {
		position: absolute;
		bottom: 100%;
		left: 0px;
		padding-bottom: 15px;
		width: 100%;
		text: {
			align: center;
			shadow: 0 0 8px rgba($black, 0.666);
		}
		
		* {
			color: $white;
			padding: {
				left: 20px;
				right: 20px;
			}
		}
	}
}

/* Popup */

.blackout {
	position: fixed;
	z-index: 35;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	left: 0;
	background-color: rgba(#000000, 0.45);
}

#popup {
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -350px;
	padding: 0 20px;
	width: 700px;
	background-color: white;
	border: 1px solid darken(white, 55%);
	@include border-radius(10px);
	@include shadow(5px, 5px, 20px, 0, rgba(black, 0.333));
	
	&.wide {
		margin-left: -380px;
		width: 760px;
	}
	
	&.thin {
		margin-left: -200px;
		width: 400px;
	}
	
	& > h2 {
		font-size: 18px;
		padding: 12px 20px;
		margin: 0 0 30px 0;
		background-color: #333333;
		color: white;
		margin-top: -1px;
		margin-left: -20px;
		margin-right: -20px;
		@include border-radius(10px 10px 0 0);
	}
}

// Portals

.portal {
	display: block;
	padding: {
		top: 90px;
		left: 70px;
		right: 70px;
	}
	
	line-height: 24px;
	text-align: center;
	height: 300px;
	font-size: 40px;
	color: $white;
	text-shadow: 0 0 8px rgba($black, 0.666);
	@include transition(color 0.333s linear);
	
	small {
		display: inline-block;
		margin-top: 22px;
		font-size: 16px;
		line-height: 22px;
	}
	
	&.boat {
		background: center center no-repeat url('img/bg2.jpg');
	}
	
	&.captain {
		background: center center no-repeat url('img/wheel.png');
	}
	
	background-size: cover !important;
}
